.dtr {
	display: table-row;
}
.dtd {
	display: table-cell;
	width: 100%;
	overflow: hidden;
}
.dtd span {
	font-size: 1.25em;
	font-style: bold;
}
.dtd_av {
	float: left;
	width: 100px;
	min-width: 100px;
	height: auto;
}
.dtd_right {
	margin-left: 110px;
	width: 300px;
	word-wrap: break-word;
	padding: 0;
}
